.titulo {
  margin-left: 2%;
}

.btn-primary {
  margin-left: -20%;
}

.results-block{
  margin-left: 1.7%;
}

small {
  font-weight:bold;

}

.navbar-brand{
  font-size: 200%;
  font-weight:bold;
  text-shadow: 1px 1px 1px black ;
}