.titulo {
  margin-left: 2%;
}


.results-block{
  margin-left: 1.7%;
}

small {
  font-weight:bold;

}

.navbar-brand{
  font-size: 200%;
  font-weight:bold;
  text-shadow: 1px 1px 1px black ;
}

.jumbotron {
  background-color: white;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.btn.btn-lg.btn-primary {

  margin-left: -20%;

}

.btn-warning{
  background-color: #1889cf;
  text-shadow: 1px 1px 1px black;
  border: #1889cf;
  }

body{
  background: #F5F8FA;
}

.well{
  background: white !important;
  margin-left: 5%;
  padding: 10%;
}


.navbar {
  background-color: #FFFFFF !important;
  padding: 5px;
}

.miniLogo {
  color: #1D96E0;
  font-weight: bolder ;
}